<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd 
     http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.5.xsd">

	<!-- Initialization for data source -->

	
	<!-- Definition for studentJDBCTemplate bean -->

	<mongo:mongo host="localhost" port="27017" id="mongo" />

	<mongo:db-factory dbname="mule"   mongo-ref="mongo"	id="mongoDbFactory" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>


	<!-- <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> 
		<property name="jndiName" value="java:comp/env/jdbc/MyLocalDB" /> </bean> 
		<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/> <property 
		name="url" value="jdbc:mysql://localhost:3306/TEST"/> <property name="username" 
		value="root"/> <property name="password" value="password"/> </bean> <bean 
		id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"> <property 
		name="dataSource" ref="dataSource" /> </bean> <bean id="AbstractDAO" class="com.test.dao.AbstractDAO" 
		abstract="true"> <property name="jdbcTemplate" ref="jdbcTemplate"></property> 
		</bean> -->
	<bean id="abstractDAO" class="dao.AbstractDAO" abstract="true">
		<property name="mongoTemplate" ref="mongoTemplate"></property>
	</bean>

	<bean id="empAPI" class="api.EmployeeAPI">
		<property name="mongoTemplate" ref="mongoTemplate"></property>
	</bean>

	<bean id="TestDAO" class="dao.TestDAO" parent="abstractDAO">
		<property name="mongoTemplate" ref="mongoTemplate"></property>
	</bean>
</beans>